:root {
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
--line-height: 1.4;
--letter-spacing: 0.00938em
}
*,
::after,
::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 0.8rem;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#first-page{
    background-color: rgb(255, 253, 245);
}
header{
    display: flex;
    margin: 1em 3.8em;
}
ul{
    display: flex;
    justify-content: right;
    align-items: center; 
}
nav{
    width: 100%;
    justify-content: right;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1em;
    display:block
}
#training-header nav {
    background-color: #fffdf5;
}
header .logo{
    z-index: 20;
    position: fixed;
    margin-top: 0.7em;
}
nav li {
    list-style: none;
    margin-left: 3rem;
}
#nav-links li:nth-child(5) {
    margin-left: 10em;
}
nav a{
    text-decoration: none;
    color: #514949;;
}

ul img{
    width: 20%;
    padding: 0.5em;
    background-color: #e7332b;
    border-radius: 100px;
    z-index: +2;
}
.enroll a{
color: white;
background-color: #e7332b;
padding: 1em 2em;
border-radius: 30px;
letter-spacing: var(--letter-spacing);
margin-left: -5em;
z-index: -1;
}
.arrange{
    display: flex;
    align-items: center;
    justify-content: right;
}
@media(max-width: 768px){
 header {
    justify-content: left;
    align-items: center;
        }      
nav li {
    display: none;
    } 
nav button {
    font-size: 3rem;
            }
    .arrange img{
        width: 14%;
    }
    #nav-links ul{
        justify-content: right;
    }
    .arrange li{
        display: block;
        font-size: 0.7rem;
    }
    #talent-header .logo{
        width: 35%;
        margin-top: 1.5em;
        margin-left: -2.3em;
        z-index: none;
            text-align: left;
    }
         #training-header .logo {
             width: 45%;
             margin-top: 1.5em;
             margin-left: -2.3em;
            z-index: none;
                text-align: left;
         }
    #nav-links{
        padding: 1em;
    }
}
.first-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 12em;
}
.search {
color: #e7332b;
margin-bottom: 2em;;
}
.first-section h1{
    font-weight: 700;
    font-size: 3rem;
    width:50%;
    margin: auto;
    letter-spacing: var(--letter-spacing)
}
.first-section .introduction{
    margin-bottom: 4em;
        width: 25%;
        margin: auto;
        padding-top: 2em;
        line-height: 1.5;
    letter-spacing: var(--letter-spacing)
}
button{
padding: 0.8em 2em;
color: white;
background-color: #e7332b;
border: 1px solid #e7332b;
border-radius: 30px;
}

.first-section button{
margin: auto;
margin-top: 2em;
}
.first-section .line1 {
width: 90%;
height: 1px;
background-color: grey;
opacity: 0.3;
margin: auto;
margin-top: 9rem;
}
@media (max-width:768px){
.first-section{
    margin-top: 35em;
}
.first-section .girl{
width: 100%;
top: 8em;
}
.first-section .spiral-arrow{
    width: 18%;
    top: 62em;
    left: 63%;
}
.first-section .wavy-line{
    width: 34%;
    top: 50.5em;
}
.first-section .search {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.first-section h1 {
    font-size: 2.5rem;
    width: 90%;

}
.first-section .introduction {
    width: 90%;
}
}
.powered-by{
    display: flex;
    padding: 0 3.8em;
    align-items: center;
    justify-content: space-between;
    
}
.powered-by h2 {
text-align: left;
width: 30%;
line-height: 1.4;
}
.powered-by p{
text-align: right;
font-size: 1.5rem;
font-weight: 300;
line-height: 1.4;
width: 30%;
}
.powered-by img{
    width: 20%;
}
.line2{
    width: 90%;
        height: 1px;
        background-color: grey;
        opacity: 0.3;
        margin: auto;
}
@media (max-width:768px) {
.powered-by {
    flex-direction: column;
    padding: 3em 1em;
}
.powered-by p {
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
}
.powered-by h2{
width: 100%;
}
.powered-by img{
    width: 60%;
}
.powered-by p {
    font-size: 1.4rem;
}
}
.section-2{
    padding-left: 3.8em;
    padding-right: 3.8em;
}
.section-2 p{
margin-top: 8em;
color: #e7332b;
font-size: 1.5em;
}
.section-2 h2{
    width: 60%;
    font-size: 2.7rem;
}
@media (max-width:768px) {
.section-2 h2 {
    width: 90%;
    font-size: 2rem;
}
.section-2 {
    padding: 1em;
}
.section-2 p {
    margin-top: 3em;
}
}
.section-3{
    background: linear-gradient(180deg, rgba(255, 244, 240, 0), #fff4f0 17.19%, #fff4f0 84.37%, rgba(255, 244, 240, 0))
}
.background{
    padding: 3.8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.box {
    background-color: white;
    border-radius: 15px;
    color: black;
    padding: 5em 3em;
    position: relative;
    box-shadow: 0 5px 15px rgba(234, 70, 11, 0.2);
}
.box-1 {
    background-color: #e7332b;
    color: white;
}
.section-3 .box img {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
}

.box h1 {
    font-size: 4rem;
    margin-bottom: 0.6em;
}

.box h3 {
    font-size: 2rem;
    margin-bottom: 1em;
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    font-weight: 500;
}
.box p{
    letter-spacing: var(--letter-spacing);
    font-size: 1.2rem;
}
@media (max-width:768px){
    .background{
        grid-template-columns: repeat(1, 1fr);
        padding: 1em 1em 8em 1em;
    }
}

.section-4{
    background-color: #e7332b;
    display: flex;
    padding:  2em;
    position: relative;
}

.section-4 .side-image{
    width: 55%;
    margin-bottom: 8em;
    
}
.section-4 .container{
    margin: 6em 3em 0em 3em;
    color: white;
    width: 100%;
}
.section-4 .container p{
    width: 70%;
    line-height: 1.4;
    font-size: 1.2rem;
}
.section-4 .container h2{
    margin-top: 0.3em;
    margin-bottom: 1em;
    font-size: 3rem;
}
.section-4 .container button{
    border: none;
    padding: 0.5em 2em;
    border-radius: 25px;
    color:#e7332b;
    background-color: white;
    font-size: 1.1rem;
    margin-block: 1em;
    box-shadow: var(--dark-shadow);
}
.modals{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
}
.modal {
    display: flex;
    align-items: center;
    border: solid white 1.8px;
    padding: 0.6em;
    border-radius: 40px;
}
.modal img{
    width: 20%;
    margin-right: 0.7em;
}
@media(max-width: 768px) {
    .modals {
       width: 100%;
    }
    .modal img {
        width: 30%;
    }
    .section-4 {
        flex-direction: column;
        padding: 1em;
        align-items: center;
    }
    .section-4 .container {
        width: 100%;
    }
    .section-4 .container p {
        width: 100%;
        font-size: 1.3rem;
    }
    .section-4 .side-image {
        width: 100%;
    }
    .section-4 .container h2 {
        font-size: 2.5rem;
    }
    .section-4 .third-spiral-arrow{
        width: 15%;
        top: 4em;
        left: 40%;
    }
    .section-4 .dotted-box{
        left: 10%;
    }
}
.section-5{
    padding: 3.8em;
    position: relative;
}
.section-5 .scope{
color: red;
font-size: 1.5rem;
margin-bottom: 0.3em;
}
.section-5 h2{
    font-size: 2.5rem;
    margin-bottom: 3em;
    width: 48%;
}
.section-5 .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 95%;
}
.grid-box{
    background: white ;
    border-radius: 30px;
    padding: 2em;
    /* box-shadow: 5px 10px 18px #888888; */
    box-shadow: var(--light-shadow);
}
.grid-box h4{
    margin-bottom: 1em;
    font-size: 1.5rem;
}
.grid-box img{
    width: 12%;
    margin-right: 0.7em;
    margin-bottom: 2em;
}
.grid-box p{
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: #1b1a20;
}
.section-5 button{
 display: flex;  
 background: #e7332b;
 color: white;
 border: none;
 padding: 0.8em 2em;
 margin: 4em auto;
border-radius: 25px;
}
.line{
    background-color:#514949;
    opacity: 0.2;
    height: 1px;
    width: 95%;
    margin: auto;
}
@media(max-width: 768px) {
.section-5 {
    padding: 5em 1em 1em 1em;
    
}
.section-5 h2 {
    font-size: 2rem;
    width: 100%;
    padding-bottom: 3em;
}
.section-5 .container {
    grid-template-columns: repeat(1, 1fr);
}
.section-5 .fourth-spiral-arrow{
    width: 45%;
    top: 15em;
    left: 28%;
}
.grid-box p{
    font-size: 1.3rem;
    margin-bottom: 4em;
}
}

.section-faq{
    padding: 3.8em;
    position: relative;
}
.section-faq .question{
    text-align: center;
    color: #e7332b;
    font-size: 1.4rem;
}
.section-faq h1{
font-size: 2.5rem;
text-align: center;
margin-bottom: 6rem;
}

.faq-container{
    width: 80%;
    margin: auto;
}
.faq-container article{
border: 1px solid rgba(71, 44, 111, .43);
padding:  1.3em;
}
.faq{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 0.7em;
}
.question-text{
    display: none;
}
.show-text .question-text{
    display: block;
}
.question-btn{
    font-size: 1.1rem;
        background: transparent;
        border-color: transparent;
        cursor: pointer;
        transition: all 0.2s linear;
        color: black;
        padding: 0;
}
.rotate {
    transform: rotate(90deg);
}
.more-questions{
    display: flex;
    justify-content: center;
    margin-block: 3em;
    align-items: center;
}
.more-questions p{
margin-right: 2em;
}
@media(max-width: 768px) {
.section-faq {
    padding: 3.8em 1em 3.8em 1em;
}
.section-faq h1 {
    font-size: 2rem;
}
.more-questions {
    flex-direction: column;
    justify-content: center;
}
.more-questions p {
    margin: 1em 0 1em 0;
}
.section-faq .more-questions button{
    margin-bottom: 4em;
}
.section-faq .fifth-spiral-arrow{
    top: 0;
    width: 20%;
}
.section-faq h4{
    width: 90%;
    font-weight: 500;
    font-size: 1.2rem;
}
}
.structure-container{
    padding: 8em 3.8em 3.8em 3.8em ;
    position: relative;
}
.structure-container{
    color: #e7332b;
    font-size: 1.5rem;
    text-align: center;
}
.structure-container h3{
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 0.8em;
    color: black;
}
.structure-container p, .structure-container li {
    font-size: 1rem;
    letter-spacing: var(--letter-spacing);
    line-height: 1.4;
}
.structure-container .availability {
    text-align: center;
    margin-bottom: 4em;
    color: #333;
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing);
}
.structure-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    margin-bottom: 10em;
}
.structure{
    color: white;
    background-color: #1b1a20;
    border-radius: 50px;
    padding: 3em 4em 3em 2em;
    text-align: left;
    box-shadow:#f3c7c3 0 5px 15px;
    position: relative;
}
.structure p,
.structure ul {
    margin-bottom: 1em;
}
.structure ul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 1em;
}
.structure h2{
    font-size: 2.3rem;
    margin-bottom: 0.6em;
}
.structure h4 {
    font-size: 1.2rem;
}
.structure .info{
width: 4%;
}
.structure .more{
    list-style: none;
}
.get-started{
    background: #e7332b;
    color: white;
    height: 25rem;
    border-radius: 30px;
    padding: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.get-started h1 {
/* margin-bottom: 1em; */
font-size: 3.5rem;
width: 50%;
text-align: center;
}
.get-started p{
    font-size: 1.2rem;
    /* margin-block: 2em; */
}
.get-started button{
    color:#e7332b;
    background-color: white;
    box-shadow: var(--dark-shadow);
}
@media(max-width:768px){
.get-started h1 {
    font-size: 2rem;
    width: 80%;
}
.get-started img{
    width: 25%;
}
.get-started .spiral-circle{
top: 1em;
}
.structure-container {
        padding: 1em 1em 4em 1em;
        }
 .structure-container h3 {
    font-size: 1.3em;
 }
 .structure-flex {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     row-gap: 2em;
}
.structure {
    padding: 2em;
}
.structure h2 {
    font-size: 2.5rem;
    padding-top: 1.3em;
}
.structure li, .structure p{
    font-size: 1.25rem;
}
.structure-flex {
    margin-bottom: 4em;
}
.structure-container .sixth-spiral-arrow{
    width: 18%;
    top: -0.5em;
}
.structure-container .red-star{
    top: 0;
}
}
footer .flex-1{
    display: flex;
    justify-content: space-between;
    padding: 4em 3em 0em 3em;
}
.flex-1 .sm-logos{
text-align: right;
}
.sm-logos img{
    margin-left: 0.5em;
    width: 8%;
}
.sm-logos .youtube{
width: 12%;
}
footer .flex-2 {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    font-size: 01rem;
    color: #333;
}
footer .copyright{
    color: white;
}

.footer-1 img{
    margin-bottom: 2em;
}
.footer-2 .social-media{
    margin-bottom: 2em;
    text-align: right;
}
.footer-2 .links a{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
@media (max-width: 768px) {
    footer .flex-1 {
        flex-direction: column;
        align-items: center;
        padding: 4em 1em 0 1em;
    }
        .flex-1 .sm-logos {
            text-align: center;
        }
        footer .flex-2{
            font-size: 1.2rem;
        }
        footer .flex-1 img{
            margin-bottom: 0.5em;
        }
        footer .flex-2 {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 1em 1em 1em;
        }
        .flex-2 p{
            order: 2;
            text-align: center;
            margin-top: 1em;
        }
         #second-page-footer .flex-2 a{
            padding: 1.5em 7em;
            border-bottom: 1.5px solid grey;
        }
        .footer-1{
            margin-bottom: 2em;
        }
        .footer-1 img{
        margin-bottom: 2em;
        }
        .footer-2 {
            text-align: center;
            justify-content: center;
            margin-bottom: 2em;
        }
        .first-page-footer a{
            text-decoration: none;
        }
        .links{
            display: flex;
            flex-direction: column;
        }
        .privacy{
            order: 2;
            padding: 2em 6em;
            border-bottom: 1px solid rgb(121, 119, 119, 0.2);
        }

}
/* ******** TALENT ********* */
header.talent{
width: 10%;
}
.talent-ul a{
    font-size: 1.1rem;
    text-align: right;
}
.talent-ul button{
    border-radius: 0 0 10px 0;
    margin-left: 2em;
    font-size: 1.1rem;
}
.call-to-action{
    display: flex;
    padding: 5.5em;
    align-items: center;
    margin-bottom: 4em;
    margin-top: 7em;
}
.call-to-action img{
    width: 35%;
}
.call-to-action p{
    width: 60%;
    font-size: 1.5rem;
    padding-bottom: 2.5em;
    color: #787878;
}
.call-to-action h2{
    font-size: 3rem;
    padding-bottom: 1em;
}
.button-1{
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 0 0 10px 0;
}
.button-2 {
    border-radius: 0 0 10px 0;
    background-color: #585858;
    border-color: #585858;
}
@media (max-width: 768px) {
    .call-to-action {
        padding: 3em 1.5em 3em 1.5em;
        flex-direction: column;
    }
    .call-to-action h2 {
        font-size: 2.2rem;
        text-align: center;
    }
    .call-to-action p {
        width: 100%;
        font-size: 1.3em;
        text-align: center;
    }
    .call-to-action img {
        width: 100%;
        margin-top: 3em;
    }
    .buttons{
        justify-content: center;
    }
    .button-1 {
        font-size: 1rem;
            padding: 0.4em 2em;
            width: 39%;
            margin-right: 0.7em;
            margin-left: 1.3em;
    }
    .button-2 {
        font-size: 1rem;
        padding: 0.4em 1em;
        width: 40%;
    }
}

#impacts {
    background: url(https://talent.zuri.team/static/media/bgsection2.063bd869082548bafa74.png);
    display: flex;
    justify-content: space-between;
    padding: 3.8em;
    align-items: center;
    margin-bottom: 5em;
}

#impacts .content h2{
  font-size: 2.8rem;
  margin-bottom: 0.3em;
}
#impacts .content h4 {
font-size: 1.3em;
margin-block: 0.6em;
}
#impacts .content p{
color: #585858;
margin-bottom: 2em;
}
.content img{
    padding: 0.7em;
    border-radius: 8px;
    background-color: white;
    margin-left: 1em;
}

.content .india {
height: 78.38px;
}
.content .usa{
height: 78.38px;
width: 82.3px;
}

#impacts .world {
    width: 30%
}
@media (max-width: 768px) {
    #impacts {
        flex-direction: column;
        padding: 6em 1.5em;
        margin-bottom: 0;
    }
    .content img {
        width: 15%;
        margin-left: 0.5em;
    }
    .content .india {
        height: 47px;
    }
    .content .usa {
    height: 47px;
    width: 45px;
    }
    #impacts .world {
        width: 90%;
        margin-top: 4em;
    }
    #impacts .content h2 {
        font-size: 1.8rem;
        }
}
.skills{
   padding: 3.8em;
}
.skills h2{
    font-size: 2rem;
    width: 40%;
}
.skills ul{
    justify-content: left;
}
.skills ul li{
    list-style: none;
    margin: 3em 1em 3em 0;
    padding: 0.7em;
    border-radius: 10px;
    color: #787878 ;
    box-shadow: #d5d3d3 5px 5px 18px;
}
.skills ul li:hover{
    /* transform: scale(1.3); */
transform: .3s ease; 
transition: linear;
-webkit-transform: .3s ease;
}
@media (max-width: 768px) {
    .skills{
        padding: 1.5em;
    }
.skills ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
        gap: 18px;
    }
.skills ul li {
    margin: 0;
    text-align: center;
}
.skills h2{
font-size: 1.8rem;
width: 100%;
margin-block: 2em;
}
}
#why-hire{
   background :rgb(255, 248, 229);
   padding: 3em 1em;
}
#why-hire h1{
    text-align: center;
    padding-bottom: 2em; 
}
.box-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 12px;
    row-gap: 26px;
    width: 80%;
    margin: auto;
}
#why-hire .box:nth-of-type(1){
    grid-column: 1/3;
}
#why-hire .box:nth-of-type(2) {
    grid-column: 3/5;
}
#why-hire .box:nth-of-type(3) {
    grid-column: 5/7;
}
#why-hire .box:nth-of-type(4) {
    grid-column: 2/4;
    grid-row: 2/3
}
#why-hire .box:nth-of-type(5) {
    grid-column: 4/6;
    grid-row: 2;
}
#why-hire .box{
    background: white;
    border-radius: 0 0 10px 0;
   padding: 2em;
   text-align: center;
   font-size: 0.8rem;
   color: #787878;
   padding-top: 2.6em;
   padding-bottom: 2.6em;
}
#why-hire .box img{
    width: 25%;
    margin-bottom: 0.8em;
}
#why-hire .box:hover,
#why-hire .box:focus
{
    background-color: black;
    color: white;
}
#why-hire img{
    text-align: center;
}
#why-hire .buttons{
    text-align: center;
    margin-top: 2em;
}
#why-hire button{
    margin-left: 1em;
    padding-left: 4em;
    padding-right: 4em;
}
#second-page-footer{
    background: rgb(22, 22, 23);
    color: white;
}
#why-hire 

#second-page-footer p{
    margin-top: 2em;
}
#second-page-footer a{
    text-decoration: none;
    color: white;
}
@media (max-width: 768px) {
    .box-container {
        grid-template-columns: 1fr;
        width: 100%;
    }
    #why-hire {
            padding: 1.5em;
            padding-top: 4em;
        }
    #why-hire .hire-btn {
    font-size: 1rem;
        padding: 0.4em 2em;
        width: 39%;
    }
    #why-hire .join-btn {
        font-size: 1rem;
            padding: 0.4em 1em;
            width: 40%;
            margin-right: 1em;
    }
    #why-hire .buttons {
        margin-block: 4em;
        display: flex;
    }
    #why-hire .box{
        padding: 4em 2em 4em 2em;
    }
    #why-hire .box:nth-of-type(1) {
        grid-column: 1;
    }
    #why-hire .box:nth-of-type(2) {
        grid-column: 1;
        grid-row: 2;
    }
     #why-hire .box:nth-of-type(3) {
        grid-column: 1;
        grid-row: 3;
    }
    #why-hire .box:nth-of-type(4) {
        grid-column: 1;
        grid-row: 4;
    }
    #why-hire .box:nth-of-type(5) {
        grid-column: 1;
        grid-row: 5;
    }
}
.show-line{
border-bottom: solid 3px #e7332b;
padding-bottom: 1.3em;
}
/* *********** modal ********* */
.modal-overlay-1{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.3);
display: grid;
place-items: center;
z-index: 50;
visibility: hidden;
}
.modal-overlay-2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: grid;
    place-items: center;
    z-index: 50;
    visibility: hidden;
}
.open-modal{
    visibility: visible;
}
.modal-container{
background: white;
display: grid;
place-items: center;
width: 90vh;
max-width: 620px;
height: 45vh;
border-radius: 15px;
padding: 4em 0 4em 0;
}
.recuritment{
    height: 60vh;
    width: 45vw;
    text-align: center;
}
@media (max-width:768px){
    .recuritment {
        width: 90%;
    }
 .modal-container {
    padding: 1em 0 1em 0;
 }
}
.modal-container a{
    color: #fff4f0;
    text-decoration: none;
}
.modal-container button{
    border-radius: 0 0 10px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    padding-left: 4em;
    padding-right: 4em;
}
/*----------------- images-------------- */
.girl{
    position: absolute;
width: 30%;
top: 18em;
left: 0;
}
.boy{
    position: absolute;
    width: 27%;
    top: 18em;
    right: 3em;
}
.wavy-line{
    position: absolute;
    top:26.5em;
    width: 13%;
    left: 51%;
}
.spiral-arrow{
    position: absolute;
left: 52%;
    top: 37em;
    width: 7%;
}
.second-boy{
position: absolute;
left: 30%;
top: 37em;
width: 4%;
}
.second-spiral-arrow{
    position: absolute;
    width: 9%;
    top: 67em;
    left: 24%;
}
.black-star{
    position: absolute;
    width: 15%;
    left: 70%;
}
.third-spiral-arrow{
    position: absolute;
    width: 6%;
    top: 4em;
    left: 25%;
}
.dotted-box{
    position: absolute;
    width: 10%;
    bottom: 2em;
}
.fourth-spiral-arrow{
    position: absolute;
    width: 11%;
    top: 9em;
    left: 42%;
}
.fifth-spiral-arrow {
    position: absolute;
    width: 11%;
    top: -2em;
    left: 15%;
}
.sixth-spiral-arrow{
position: absolute;
width:11%;
    top: 3em;
    left: 12%;
}
.red-star{
position: absolute;
width: 11%;
left: 85%;
top: 4.5em;
}
.spiral-circle{
    position: absolute;
    width: 13%;
    top: 2.5em;
    left: 10%;
}
.quater-circle{
    position: absolute;
    width: 12%;
    top: 0;
    right: 0;
}
.quater-circle2{
    position: absolute;
    width: 12%;
    bottom: 0;
    left: 0;
}
.third-dotted-box{
    position: absolute;
    width: 15%;
    right: 0;
    bottom: 0;
}
.hour-glass{
    position: absolute;
    width: 20%;
    bottom: 3em;
    right: 5%;
}
.orange{
    position: absolute;
    width: 35%;
        bottom: 5em;
        right: 5%;
}
.triangle{
    position: absolute;
        left: -4%;
        width: 12%;
        top: 28em;
}
.structure-box1{
    position: absolute;
    width: 13%;
    bottom: 27em;
    right: 3%;
    z-index: -200;
}
.structure-box2 {
    position: absolute;
    width: 9%;
    bottom: 22em;
    left: 5%;
}
@media (max-width:768px) {
.boy,
.second-boy,
.second-spiral-arrow,
.black-star,
.structure-box2
{
    display: none;
}
}